#page-top {
    background-color: #fff;
    padding: 15px 15px 0px;
    border-bottom: 34px solid #ff645c;
}

body {
    background-image: url("../images/texture.png");
}

h2 {
    font-family: Oxygen;
}

#wrapper {

    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;


}

#footer {

    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    overflow: hidden;
    margin-top: 150px;

}

#1 {
    width: 251px;
    float: left;
}

#2 {
    width: 192px;
    float: left;
}

#3 {
    float: left;
    margin-top: 21px;
}

#4 {
    height: 170px;
}

#5 {
    float: right;
    margin: 0 240px 0 0;
}


.form-group {
    float: left;
    width: 100%;
    padding: 5px 25px;
    border-left: 2px solid #ffea00;
}

.form-group label {
    font-size: 17px;
    float: left;
    font-family: Oxygen;
    font-weight:300;
}

.form-control {
    width: 280px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 5px 10px;
    clear: both;
    float: left;
    font-family: Oxygen;
    position:relative;
}

.form-msg {
    font-size: 12px;
    color: grey;
    float: left;
    clear: both;
}

#pass_help {
    font-size: 13px;
    float: left;
    clear: both;
}

#repass_msg {
    font-size:13px;
}

#content {
    background-color: white;
    min-height: 307px;
    float: left;
    width: 100%;
    margin-top: 15px;
    padding: 5px 25px;
    box-sizing: border-box;
}

#page-top label{
    margin-left: 20px;
    color: #ff645c;
    font-family: Oxygen;
}

#page-top a{
    color: #393939;
    margin-left: 20px;
}

#page-top a:hover {
    cursor: pointer;
    color:black;
}

#login , #password {
    margin-left: 8px;
    width: 200px;
}

#page-top input[type='submit'] {
    width: 130px;
    margin-left: 30px;
    border: none;
    background-color: white;
    border-bottom: 1px solid #ff645c;
    color: #ff645c;
    font-size: 16px;
}

#page-top input[type='submit']:hover {
    color:red;
    border-color:red;
}


.invalid  {
    border-left: 2px solid red;
}

.invalid .form-msg {
    color:red;
}

.ok {
    border-left:2px solid green;
}

.exists {
    border-left:2px solid red;
}

.ok .form-msg {
    color:grey;
}

.exists input::after {
    content: "Username already exists";
    display:inline;
    color:red;
    position:absolute;

}

#reg input[type="submit"] {
    width: 190px;
    margin-left: 27px;
    height: 40px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 20px;
}

#reg input[type="submit"]:hover {
    background-color:#ffc2c2;
    cursor:pointer;
}